<!doctype html>
<html lang="en">
<head>
{{@include:head.html}}
</head>
<body>
{{@include:scripts/theme-init.html}}

{{@include:art-layer.html}}
{{@include:header.html}}

<main>
{{@include:sections/hero.html}}
{{@include:sections/systems.html}}
{{@include:sections/approach.html}}
{{@include:sections/stack.html}}
{{@include:sections/about.html}}
{{@include:sections/contact.html}}
</main>
{{@include:footer.html}}

{{@include:scripts/pixel-wave-field.html}}
{{@include:scripts/systems-accordion.html}}
{{@include:scripts/hero-sky-viz.html}}
</body>
</html>
